html {
  font-family: sans-serif;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 20px 70px;
  max-width: 100%;
}
nav{
  margin: 20px
}
nav a{
  text-decoration: none;
  color: black;
}

li{
  list-style-type: none;
  display: inline;
  margin: 0 3%;
}

#container{
  max-width: 100%;
}
#header {
  padding: 30px 20px;
  background: #99CC01; /* Для старых браузров */
  background: linear-gradient(to top, #99CC01, #779912);
  color: white;
  padding-left: 10%;
}
#header span{
  color: white;
}

#bottom{
  background-color: #ECF0FB;
  margin-bottom: 20px;
}
#bottom #text{
  width:  70%;
  display: inline-block;
}
#text h1{
  width: 60%;
  text-align: left;
}
#text h5{
  width: 50%;
  text-align: left;
}
#text p {
  width: 80%;
  text-align: left;
}
#bottom img{
  width: 28%;
  height: auto;
}
.content div{
  margin-left: 1%;
  display: inline-block;
}
#left{
  width: 30%;
  margin-right: 40px;
  margin-left: 40px;
}

#right{
  vertical-align: top;
  border-left: 2px solid #ECF0FB;
  width: 60%;

}
#right div{
  margin-bottom: 20px;
}

#right img{
  height: 130px;
  width: 200px;
}
.item div{
  display: inline-block;
}
#desc {
  width: 60%;
}
.first_str{
  color: #92C204;
}
span{
  font-weight: 700;
  color: #093500;
}
h2{
  font-family: Helvetica, arial, serif;
  text-align: left;
  font-weight: 100;
  margin: 0;
  padding: 30px;
  color: #093500;
  font-size: 45px;
}

h3 {
  color: #093500;
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
}
hr{
  border: none;
  color: #ECF0FB;
  background-color: #ECF0FB;
  height: 10px;

}
.item hr{
  height: 2px;
}
