body {
  font-family: Arial, serif;
  margin: 0px 136px;
  position: absolute;
}
.header {
  background: #99CC01;
  background: linear-gradient(to top, #99CC01, #779912);
  padding-bottom:  36px;
}

.header h2, h2 span{
  margin: 0px;
  color: white;
  font-size: 52px;
  letter-spacing: 1px;
}

.header h2{
  padding: 34px 0px 0px 54px;
  font-weight: 100;
}

.header h2 span{
  font-weight: 700;
  margin-left: 7px;
}

nav{
  font-size: 34px;
  margin: 41px 0px 44px 30px;
}
nav a{
  text-decoration: none;
  color: black;
}
nav li{
  list-style-type: none;
  display: inline;

  margin: 0px 25px;;
}

.welcome{
  background-color: #ECF0FB;
  padding: 0px 0px 0px 25px;
}
.welcome div{
  display: inline-block;
}
.welcome img{
  height: 307px;
}
.welcome div{
  width: 535px;
  vertical-align: top;
  margin: 0px 0px 0px 19px;
}
.welcome h2{
  margin: 40px 0px 0px -76px;
  font-size: 54px;
  font-weight: 100;
  letter-spacing: 1px;
}
.welcome h2 span{
  color: #093500;
  font-weight: 700;
  letter-spacing: 5px;
}
.welcome div p{
  margin: 29px 0px 0px 0px;
}
p{
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 400;
}
p::first-line{
  color: #80A60F;
  font-weight: 700;
  font-size: 20px;
}
.content{
  margin-bottom:  18px;
}
article {
  margin: 26px 0px 0px 38px;
  line-height: 22.5px;
  font-weight: 400;
  width: 334px;
  vertical-align: top;
}
article h3{
  font-size: 27px;
  margin: 0px 0px 38px 1px;
}
article, section{
  display: inline-block;
}
section{
  width: 632px;
  margin: 0px 0px 0 67px;
}
section img{
  height: 151px;
}
section div{
  width: 700px;
  margin-top: 14px;
}
section div div {
  display: inline-block;
  width: 404px;
}
section div div p {
  vertical-align: top;
  margin: 0px 0px 13px 29px;
}
section h3 {
  margin: 0px 0px 30px 23px;
  font-size: 28px;
}
footer{
  border-top: solid 9px #ECF0FB;
  padding-top: 41px;
  margin-left: 43px;
}
hr{
  margin-top: 5px;
  height: 2px;
  border: none;
  background-color:#ECF0FB
}
